# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
backendvenv/
.venv/
*.egg-info/
dist/
build/

# Node / Angular
node_modules/
dist/
.angular/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
